<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
</head>

<body>
    <h3 class="id">
        <%= post.id %>
    </h3>
    <h2 class="user">
        <%= post.username %>
    </h2>
    <form method="post" accept="/posts/<%=post.id%>?_method=PATCH">
        <textarea name="content" rows="10" cols="50" placeholder="comments"><%=post.content%></textarea>
        <br>
        <button>submit</button>
    </form>
</body>

</html>