<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>details</title>
    <link rel="stylesheet" href="/style.css">   
</head>
<body>
    <h1>this is showing in details </h1>
    <div class="post">
        <h3 class="id"><%= post.id  %></h3>
        <h2 class="user"> <%= post.username  %></h2>
        <h2 class="user"> <%= post.content  %></h2>
    </div>
</body>
</html>